
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;600;800&display=swap');

:root {
  --background-color: #05292e ;
  --background-color-character: #062226;
  --color-properties-character: #777879;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: azure;
  /* color: azure; */
}

p {
  color: var(--color-properties-character);
  font-weight: 600;
}

h1 {
  font-family: 'Kolker Brush', cursive;
  font-size: 120px;
  position: absolute;
  color: rgb(0, 255, 26);
  text-shadow: 1px 1px 4px rgb(0, 0, 0);
  z-index: 1;
}

h2 {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}


body {
  background-color: var(--background-color);
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
}

.container-of-everything {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
}

/* Location */

.location-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 40px;
  align-items: center;
  background-color: var(--background-color-character);
}

.location-container div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* character */

.character-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 4vw;
  padding: 4vw;
}

.character {
  background: var(--background-color-character);
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.5s;
}

.character:hover {
  transform: scale(1.05);
}

.character img {
  width: 100%;
}

.features {
  padding: 1vw;
}

.features h3 {
  border-bottom: 1px solid var(--background-color);
  font-weight: 800;
}

/* Status */


.status {
  width: 150px;
  height: 30px;
  border-radius: 0 5px 5px 0;
  display:flex;
  align-items: center;
  gap: 1vw;
  position: absolute;
  top: 15px;
  left: 0;
  padding-left: 10px;
  background-color: var(--background-color-character);
}


.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}

/* Boton change */

.bnt-change {
  width: 50vw;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 8);
  text-shadow: 0 0 10px #91e56f;
}

.bnt-change:hover {
  background-color: rgb(80, 80, 80);
}

/* show location */

.background-search{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url('https://image.tmdb.org/t/p/original/bgd8mtXQ3titH9aBi1baVK9HJU6.jpg');
  background-size: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-color:  black;
  z-index: 1;
}

.container-show-location{
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-show-location input {
  height: 40px;
  width: 400px;
  text-align: center;
  border: none;
  color: black;
}

input:focus {
  outline: none !important;
  border:1px solid rgb(0, 255, 8);
  box-shadow: 0 0 10px #91e56f;
}

.show-location {
  height: 30vw;
  position: absolute;
  transform: translateY(45px);
  overflow-y:auto;
  overflow-x: hidden;
}



/* Loader */

.loader {
  width: 100%;
  height: 100vh;
  background-image: url("https://github.com/CciClo/assets/raw/main/loaderPage/loader-whithe-shadoww-blue-black.gif");
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}



.footer {
  height: 200px;
  width: 100%;
  background-color: black;
  padding: 50px;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.footer h2 {
  border-bottom: 1px solid rgb(0, 255, 8);
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(0, 255, 8);
  text-shadow: 0 0 10px #91e56f;
}

.footer h4 {
  color: rgb(0, 255, 8);
  text-shadow: 0 0 15px #91e56f;
}